<html lang="en">
  <%- include('partials/header') %>
<main>
<div>
  <div class="destacado">
    <p >seleccione libro para editar</p>    
        <section class="destacadoflex" > 
                <% for ( product of products) { %> 
            <a class="sinDecoracion" href="/articulo/edit/<%=product.id%>"><article class="libro" ><img class="total" src="/images/<%= product.image %>" alt="Caperucita roja"><%= product.name %> </article> <% } %></a> 
            </section>
        </div>

  </div>
</div>
<h2 class="destacado">estas editando el libro: <%=productoParaEditar.name%></h2>
<form action="/articulo/edit/<%= productoParaEditar.id%>?_method=PUT" method="POST">   
<section class="contenedorflex">  
<article>
    <label class="destacadosincentrar" for="titulo">Título del libro:</label>
      <input type="text" class="contenedordetexto" name="titulo" id="titulo"value="<%= productoParaEditar.name %>" required>
  </article>
  <article>
    <label class="destacadosincentrar" for="categoria">Escritor : </label>
   <select name="writer"class="contenedordetexto" id="writer">
     <% for(writer of writers){%>
      <% if(writer.id == productoParaEditar.writer.id) {%> 
       <option selected value="<%= writer.id %> "><%=writer.name %> </option> 
       <% }else { %> 
        <option  value="<%= writer.id %> "><%=writer.name %> </option> 
       <% } %> 
       <% } %> 
     </select>
   </article>   
   <article>
    <label class="destacadosincentrar" for="categoria">Editorial : </label>
   <select name="editorial"class="contenedordetexto" id="categoria">
     <% for(editorial of editorials){%>
      <% if(editorial.id == productoParaEditar.editorial.id) {%> 
        <option selected value="<%= editorial.id %> "><%=editorial.name %> </option> 
        <% }else { %> 
         <option  value="<%= editorial.id %> "><%=editorial.name %> </option> 
        <% } %> 
       <% } %> 
     </select>
   </article>   
<article>
  <label for="img" class="destacadosincentrar">Imagen:</label>
  <input type="file"class="contenedordetexto"  name="img" id=img>
</article>
<article class="contenedordetexto" ><label class="destacadosincentrar" for="destacado" > Destacar producto</label>
  <input type="checkbox" id="destacado" name="destacado" value="SI"></article>
</article>
<article> 
  <label class="destacadosincentrar" for="año">Año de publicación:</label>
  <input type="text" name="publicacion"class="contenedordetexto" id="publicacion"value="<%= productoParaEditar.year %>" required>
</article>
<article>
  <label class="destacadosincentrar" for="paginas">Cantidad de páginas:</label>
  <input type="text" name="paginas"class="contenedordetexto" id="paginas"value="<%= productoParaEditar.pages %>" required>
</article>
<article>
  <label class="destacadosincentrar" for="precio">precio:</label>
  <input type="number" name="precio"class="contenedordetexto" id="precio" value="<%= productoParaEditar.price   %>"required>
</article>

<article>
  <label class="destacadosincentrar" for="idioma">Idioma:</label>
  <input type="text" name="idioma"class="contenedordetexto" id="idioma"value="<%= productoParaEditar.language %>"required>
</article>
<article>
  <label class="destacadosincentrar" for="categoria">Categoria : </label>
 <select name="category"class="contenedordetexto" id="category">
   <% for(category of categories){%>
    <% if(category.id == productoParaEditar.category.id) {%> 
      <option selected value="<%= category.id %> "><%=category.name %> </option> 
      <% }else { %> 
       <option  value="<%= category.id %> "><%=category.name %> </option> 
      <% } %> 
     <% } %> 
   </select>
 </article>   
<article>
  <label class="destacadosincentrar" for="sinopsis">Sinopsis</label> <br>
  <textarea name="sinopsis" id="sinopsis" cols="60" rows="7" ><%= productoParaEditar.synopsis %> </textarea>
  </section>
<article class="contenedorbotones">
  <button type="submit" class="boton3" >Enviar </button>
</article>
</form>
<article class="centrar">
<form method="POST" action="/articulo/delete/<%= product.id %>?_method=DELETE" >
  <button type="submit"  class="boton4">ELIMINAR</button>
</form>
</article>

</main>
<footer></footer>
</body>
</html>