<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <main><div class="padrearticulo">
        <article class="imgarticulo"><img src="/images/<%=producto.image %>" alt="<%= producto.name%>" class="total"></article>
        <article class="descripcionarticulo">
        <P class="titulolibro"><%=producto.name %></p>
        <p class="precioarticulo">$<%= producto.price %></p> 
        <p class="textoart"><%= producto.synopsis %> </p>
        <form action="">
            <label for="" class="destacado">Cantidad</label>
            <input type="number" id="cantidad"class="cantidadlibros" value="1" name="cantidad">
        </form>
       <button type="submit" class="boton">Comprar</button> </article>
    </div></main>
    <footer></footer>
</body>
</html>