<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header') %>
    <main><div >
       <div> <h2 class="destacado">¿Quienes somos?</h2>
            <p class="texto">Readme es un E-comerce que acompaña a nuestros clientes el el proceso de aprendizaje <br>
                brindandole libros por categoria y foros de discusión para debatir sobre temas especificos 
                  <details > 
                      <summary class="destacado">Leer mas </summary>
                      <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus totam rerum quis sit in, assumenda, debitis, <br>
                        dolores eos unde perspiciatis sapiente animi voluptate autem explicabo iste aliquam nesciunt? Ratione molestiae consequuntur saepe<br>
                         dicta, sequi impedit harum placeat corporis eos fugit veritatis vel quis numquam dolores optio quod? Consequuntur, fugit et!</p>
                    </details>
        </div>
            
        <div class="destacado">
            <p >Destacados</p>    
           <section class="destacadoflex" > 
                <% for ( product of destacados) { %> 
               <a href="/articulo/<%= product.id %> " class="sinDecoracion"> <article class="libro" ><img class="total" src="/images/<%= product.image %>" alt="Caperucita roja"><%= product.category.name %> </article></a> <% } %> 
                </section> 
            </div>
        <div class="destacado">
            <p class="destacadoindex">Todos los Libros</p>    
                <section class="destacadoflex" > 
                        <% for ( product of products) { %> 
                            <a href="/articulo/<%= product.id %> " class="sinDecoracion"><article class="libro" ><img class="total" src="/images/<%= product.image %>" alt="<product.name>"><%= product.name %> </article></a> <% } %> 
                    </section>
                </div>
        </div>
    </main>
    <footer><%- include('partials/footer') %></footer>
</body>
</html>